<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/static/stylesheets/styles.css">
	</head>
		<body>
			<div class="wrapper">
				<header>
					<a href="index.html"><img src="/static/images/logotip2.png" alt="Whitesquare logo"></a>
					<div class="heading">
						<h1>Гостиницы России</h1>
					</div>
				</header>
				<nav>
					<ul class="top-menu">
						<li><a href="/index">Главная</a></li>
						<li><a href="/regist">{{name_user_lk}}</a></li>
						<li class="active"><a href="/about">О проекте</a></li>
						<li><a href="/contact">Контакты</a></li>
					</ul>
				</nav>
				<main>
					<figure>
						<img src="/static/images/otel.jpg" width="400" height="400 alt="">
					</figure>
					<figure>
						<img src="/static/images/otel2.jpg" width="400" height="400 alt="">
					</figure>
					<figure>
						<img src="/static/images/otel3.jpg" width="400" height="400 alt="">
					</figure>
					<figure>
						<img src="/static/images/otel4.jpg" width="400" height="400 alt="">
					</figure>

					<h4>Данная информационная системы выполнена нашей командой в рамках проекта по предмету "Проектирование человеко-машинного интерфейса."</h4>
					<h4> Данный прокрамный продукт помогает найти подходящую гостиницу в нужном городе и оформить в ней бронь номера.</h4>
					<p>.</p>
				</main>
			</div>
			<footer>
				<div class="footer">
			</footer>
		</body>
</html>