<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/stylesheets/styles.css">
	<script>
		window.onload = function() {
		  document.getElementById('upbutton').style.display = 'none';
		};
		window.onscroll = function()
		{
		  var scrolled = window.pageYOffset || document.documentElement.scrollTop;
		  if (scrolled > 300)
			document.getElementById('upbutton').style.display = 'block';
		  else
			document.getElementById('upbutton').style.display = 'none';
		}

		var smoothJumpUp = function()
		{
			if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0)
			{
				window.scrollBy(0,-30);
				setTimeout(smoothJumpUp, 20);
			}
		}
	</script>
</head>
<body>
	<div class="wrapper">
		<a class="upbutton" id="upbutton" href="#" onclick="smoothJumpUp(); return false;">
			<img src="/static/images/up.png" alt="Top" border="none" title="Наверх">
		</a>
	<header>
		<a href="index.html"><img src="/static/images/logotip2.png" alt="Whitesquare logo"></a>
		<div class="heading">
			<h1>Гостиницы России</h1>
		</div>
	</header>
	<nav>
		<ul class="top-menu">
			<li class="active"><a href="/index">Главная</a></li>
			<li><a href="/regist">{{name_user_lk}}</a></li>
			<li><a href="/about">О проекте</a></li>
			<li><a href="/contact">Контакты</a></li>
		</ul>
	</nav>
	<main>
		<aside>
			<h2>Города</h2>
				  <nav>
					  <form method="post" action="/index">
						  {% for row in list_city %}
						 <p><input type="checkbox" name="{{row}}" value="{{row}}"> {{row}}</p>
						  {% endfor %}
						 <p><input type="submit" class="custom-btn2 btn-8" name="but_city" value="Выбрать"></p>
					  </form>
				  </nav>
			      <nav>
					 <div class="dropdown">
						 <form method="post" action="/index">
							<button class="dropbtn">Сортировать по</button>
							<div class="dropdown-content">
								<form method="post" action="/index">
									<p><input type="radio" name="sort" value="null">----------</p>
								</form>
									<p><input type="radio" name="sort" value="name_increase">названию А-Я</p>
									<p><input type="radio" name="sort" value="name_decrease">названию Я-А</p>
							</div>
						 </form>
					 </div>
				  </nav>

      			<h4>Страница:  {{num_page//50 + 1}}</h4>
				  <nav>
					  <form method="post" action="/index">
						  <p><input type="submit" class="custom-btn btn-8" name="page_last" value="Предыдущая страница"></p>
					  </form>
				</nav>

				  <nav>
					  <form method="post" action="/index">
						  <p><input type="submit" class="custom-btn btn-8" name="page_next" value="Следующая страница"></p>
					  </form>
				</nav>
		</aside>
		<form method="post" action="/room">
		<article>
			<section>
				<table>
				 <tr>
					<th>Отель</th>
					<th>Регион</th>
					 <th>Город</th>
				 </tr>
            <tbody>
				{% for row in processed_files %}
					<tr>
						<td>
							<form method="post" action="/room">
								<p><input type="submit" class="td_button" name="col_1" value="{{row[1]}}"></p>
								<p><input type="hidden" class="td_button" name="col_2" value="{{row[2]}}"></p>
								<p><input type="hidden" class="td_button" name="col_3" value="{{row[3]}}"></p>
								<p><input type="hidden" class="td_button" name="col_4" value="{{row[4]}}"></p>
								<p><input type="hidden" class="td_button" name="col_5" value="{{row[5]}}"></p>
								<p><input type="hidden" class="td_button" name="col_6" value="{{row[6]}}"></p>
								<p><input type="hidden" class="td_button" name="col_7" value="{{row[7]}}"></p>
								<p><input type="hidden" class="td_button" name="col_8" value="{{row[8]}}"></p>
								<p><input type="hidden" class="td_button" name="col_9" value="{{row[9]}}"></p>

							</form>
						</td>
						<td>
							<form method="post" action="/room">
								<p><input type="submit" class="td_button" name="col_2" value="{{row[2]}}"></p>
								<p><input type="hidden" class="td_button" name="col_1" value="{{row[1]}}"></p>
								<p><input type="hidden" class="td_button" name="col_3" value="{{row[3]}}"></p>
								<p><input type="hidden" class="td_button" name="col_4" value="{{row[4]}}"></p>
								<p><input type="hidden" class="td_button" name="col_5" value="{{row[5]}}"></p>
								<p><input type="hidden" class="td_button" name="col_6" value="{{row[6]}}"></p>
								<p><input type="hidden" class="td_button" name="col_7" value="{{row[7]}}"></p>
								<p><input type="hidden" class="td_button" name="col_8" value="{{row[8]}}"></p>
								<p><input type="hidden" class="td_button" name="col_9" value="{{row[9]}}"></p>
							</form>
						</td>
						<td>
							<form method="post" action="/room">
								<p><input type="submit" class="td_button" name="col_3" value="{{row[3]}}"></p>
								<p><input type="hidden" class="td_button" name="col_1" value="{{row[1]}}"></p>
								<p><input type="hidden" class="td_button" name="col_2" value="{{row[2]}}"></p>
								<p><input type="hidden" class="td_button" name="col_4" value="{{row[4]}}"></p>
								<p><input type="hidden" class="td_button" name="col_5" value="{{row[5]}}"></p>
								<p><input type="hidden" class="td_button" name="col_6" value="{{row[6]}}"></p>
								<p><input type="hidden" class="td_button" name="col_7" value="{{row[7]}}"></p>
								<p><input type="hidden" class="td_button" name="col_8" value="{{row[8]}}"></p>
								<p><input type="hidden" class="td_button" name="col_9" value="{{row[9]}}"></p>
							</form>
						</td>
					</tr>
			{% endfor %}
				</tbody>
			</table>
		</section>
	</article>
		</form>
	</main>
	</div>
		<footer>
			<div class="footer">
			</div>
		</footer>
</body>